<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <style type="text/css">
    * {
        font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Time New Roman,Microsoft JhengHei,sans-serif;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statistical Project : PM25</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/landing-page-pm25.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <li class="active"><a class="navbar-brand" href="../indexPM25">首頁</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="../PM25">視覺化應用</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h2><p class="text-info"><b><font color="black">空氣品質變化相關因素研究</font></b></p></h2>
                        <h3><p class="text-muted"><b><u><font color="yellow">PM2.5視覺化分析</font></u></b></font></p></h3>
                        <hr class="intro-divider">
                        </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- Loging Modal -->
    <!-- <div class="modal fade" id="loging-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h1 class="modal-title text-center" id="myModalLabel">Please login...</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- /.intro-header -->
    <!-- Page Content -->
    <section class='content-section-a'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 col-md-offset-2'>
                    <h2>PM2.5基本資料</h2>
                    <ul>
                        <li><a href="http://air.epa.gov.tw/Public/suspended_particles.aspx" target=_blank>何謂PM2.5?</a></li> 
                        <li><a href="http://taqm.epa.gov.tw/taqm/tw/fpmi-2.aspx" target=_blank>台灣PM2.5指標</a></li> 
                        <li><a href="https://www.youtube.com/watch?v=xbK4KeD2ajI" target=_blank>穹頂之下</a></li> 
                    </ul>
                </div>
                <div class='col-md-4 col-md-offset-2'>
                    <h2>台灣氣候</h2>
                    <ul>
                        <li><a href="http://www.cwb.gov.tw/V7/climate/climate_info/taiwan_climate/taiwan_1.html" target=_blank>特徵簡介</a></li> 
                        <li><a href="http://www.cwb.gov.tw/V7/climate/climate_info/taiwan_climate/taiwan_5/taiwan_5_1.html" target=_blank>東亞季風</a></li> 
                        <li><a href="http://rdc28.cwb.gov.tw/TDB/ctrl_typhoon_range_search" target=_blank>颱風資料庫</a></li>                         
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class='col-md-4 col-md-offset-2'>
                   <h2>其他資訊</h2>
                    <ul>
                    <h4>
                        <li><a href="http://www.epa.gov.tw/mp.asp?mp=epa" target=_blank>行政院環境保護署</a></li> 
                        <li><a href="http://www.who.int/topics/air_pollution/en/" target=_blank>世界衛生組織空氣污染研究</a></li> 
                        <li><a href="http://www.cwb.gov.tw/V7/" target=_blank>中央氣象局全球資訊網</a></li> 
                        </h4>
                    </ul>
                </div>                
            </div>
        </div>
        <!-- /.container -->
    </div>
 
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                                            </ul>
                    <p class="copyright text-muted small">Copyright &copy; Tsai Yue Hua and Jeffrey Liu. 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>

</html>
