<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <style type="text/css">
    * {
        font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Time New Roman,Microsoft JhengHei,sans-serif;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statistical Project</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <li class="active"><a class="navbar-brand" href="../index">SDV</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="../P1">檔案資料視覺化</a></li>
                    <li><a href="../P2">資料庫資料視覺化</a></li>
                    <li><a href="../P4">動態資料視覺化</a></li>
                    <li><a href="../P5">公衛資料視覺化</a></li>
                    <li><a href="../P3">資料互動視覺化</a></li>                 

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Statistics Data Visualization</h1>
                        <h3>Online statistical analysis tool and chart maker</h3>
                        <hr class="intro-divider">
                        <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loging-modal"><span class="network-name">Getting Start</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- Loging Modal -->
    <div class="modal fade" id="loging-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h1 class="modal-title text-center" id="myModalLabel">統計資料視覺化</h1>
                </div>
                <div class="modal-body">
                    <li><a href="../P1">檔案資料視覺化</a></li>
                    <li><a href="../P2">資料庫資料視覺化</a></li>
                    <li><a href="../P3">資料互動視覺化</a></li>
                    <li><a href="../P4">動態資料視覺化</a></li>
                    <li><a href="../P5">公衛資料視覺化</a></li>
                </div>
              
                </div>
            </div>
        </div>
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <section class='content-section-a'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 col-md-offset-2'>
                    <h1>研究目的</h1>
                    <ul>
                    <h4>
                        <li>開放、簡單物件導向語言<br></li>
                        <li>相容多種擴充函式庫模組<br></li>
                        <li>跨作業系統平臺移轉容易</a></li>
                        <li>運用於資料庫與動態性資料</a></li>
                        <li>提供統計值與多種統計圖形</a></li>
                        <li>相容多種平台、裝置、瀏覽器</a></li>
                     </h4>
                    </ul>
                </div>
                <div class='col-md-4 col-md-offset-2'>
                    <h1>系統開發</h1>
                    <ul><h4>
                        <li>採用 Python語言</a></li>
                        <li>Bootstrap網站開發管理</a></li>
                        <li>Django網站框架</a></li>
                        <li>演算與JavaScript圖形模組</a></li>
                         <li>MySQL關聯式資料庫</a></li>
                        <br></h4>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content-section-a -->
     <!-- <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 text-center">
                   <h1>其他資訊</h1>
                   <p><br>參考右圖<br></p>

                </div>
                <div class="col-md-5">
                    <img class="img-responsive" src="{% static "img/tutorial_video.jpg" %}" alt="tutorial-video">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
 
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                                            </ul>
                    <p class="copyright text-muted small">Copyright &copy; Jeffrey Liu. 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>

</html>
